/* Coolors Exported Palette - coolors.co/81a8cd-e0edfa-fffdfb-f2eeeb-fd835b */

/* HSL */
$color1: hsla(209%, 43%, 65%, 1);
$color2: hsla(210%, 72%, 93%, 1);
$color3: hsla(30%, 100%, 99%, 1);
$color4: hsla(26%, 21%, 94%, 1);
$color5: hsla(15%, 98%, 67%, 1);

/* RGB */
$color1: rgba(129, 168, 205, 1);
$color2: rgba(224, 237, 250, 1);
$color3: rgba(255, 253, 251, 1);
$color4: rgba(242, 238, 235, 1);
$color5: rgba(253, 131, 91, 1);